.button {
    position: relative;
    border: none;
    outline: none;
    width: 220px;
    height: 55px;
    font-weight: 600;
    color: #fff;
    background: lighten($blue-color, 3%);
    display: block;
    border-radius: 55px;
    cursor: pointer;
    box-shadow: 0px 2px 0 darken($blue-color, 5%), 2px 4px 6px darken($blue-color, 2%);

    .svg__wrap {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: absolute;
        top: 7.5px;
        right: 20px;
        background: $grey-color;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        letter-spacing: 1px;
        transition: all 150ms linear;

        svg {
            fill: $blue-color;
        }
    }

    &:hover {
        background: darken($blue-color, 1.5%);
        border: 1px solid rgba(#000, .05);
        box-shadow: 1px 1px 2px rgba(#fff, .2);
        color: lighten($blue-color, 18%);
        text-decoration: none;
        text-shadow: -1px -1px 0 darken($blue-color, 9.5%);
        transition: all 250ms linear;

        .svg__wrap {
            right: 5px;
            transition: 300ms;
        }

    }
}